:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
	color: var(--p-color);
}

a {
  font-weight: 500;
  color: var(--p-color);
  text-decoration: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:hover {
	color: var(--hover-color);
	cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid transparent;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: var(--button-color);
	background-color: var(--button-bg-color);
	transition: border-color 0.25s;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
button:hover {
	transform: translateY(-5px) !important;
	cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
